/* NAVBAR STYLING */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: teal;
  color: #fff;
}
.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT */
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}
.services:hover .dropdown {
  display: block;
}
/* CHECKBOX HACK  */
input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.joke-content {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 48px;
  color: #ec6709;
}

.reload-content {
  text-align: center;
  margin: 2em;
}

/* APPLY MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 00.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50px;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

body {
  background-color: #ebebeb;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Overpass", sans-serif;
  font-size: 14px;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  font-family: "Monoton", cursive;
  font-size: 50px;
}
.subheader {
  font-family: "Yellowtail", cursive;
  background-color: #ec6709;
  font-size: 48px;
}

.comment_styling {
  border: 2px solid #ec6709;
  background-color: #4c9e9e;
  /* float: left; */
  border-radius: 5px;
  padding: 10px;
}
h4,
p {
  font-family: "Special Elite", cursive;
}

/* font-family: "Monoton", cursive; */
/* padding-left: 40px; */
/* padding-right: 30px; */
/* padding-top: 10px; */

/* experimental */
/* .left {
  width: 50%;
  height: 100%;
  float: left;
  padding: 30px;
  left: 0;
  background-color: rgb(194, 220, 223);
}
.right {
  width: 50%;
  height: 100%;
  float: right;
  padding: 30px;
  right: 0;
  background-color: rgb(202, 182, 197);
}
.clear-fix {
  clear: both;
} */

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
.leftside,
.rightside {
  height: 50vh;
  width: 100%;
  /* overflow: auto; */
}

.leftside {
  background-color: rgb(194, 220, 223);
  float: left;
  padding: 30px;
  left: 0;
  overflow: auto;

  /* position: relative;
  overflow-y: scroll; */
  /* margin: 10px; */
}
.rightside {
  background-color: rgb(212, 226, 234);
  float: right;
  padding: 30px;
  right: 0;
  /* overflow: auto; */

  /* overflow: scroll;
  margin: 10px; */
}

@media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }
}

/* QUERY FORM */
.container-fluid {
  margin: auto;
  width: 60%;
}

/* RATING IMPLEMENTATION */

.rating-container {
  text-align: center;
  margin: 2em;
  font-size: 18px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-star-o:before {
  content: "\f006";
  color: #5f6368;
  font-size: 60px;
}

.fa-star:hover {
  cursor: pointer;
}

.fa-star:before {
  content: "\f005";
  color: #d56e0c;
  font-size: 60px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* RATING EMOJIS */
.fa-ban {
  content: "\f05e";
  color: #e10404;
  font-size: 100px;
}

.fa-frown-o {
  content: "\f119";
  color: #a81e0c;
  font-size: 100px;
}

.fa-meh-o {
  content: "\f11a";
  color: #0d19f7;
  font-size: 100px;
}

.fa-smile-o {
  content: "\f118";
  color: #025007cd;
  font-size: 100px;
}

.fa-fire {
  content: "\f06d";
  color: #f90202fd;
  font-size: 100px;
}

/* COMMENT SECTION  */
/* .comment-container {
  font-family: "Nunito Sans", sans-serif;
} */

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.comment-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Overpass", sans-serif;
  width: 75%;
  margin: auto;
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}
/* p {
  font-family: "Nunito Sans", sans-serif;
} */
.text-center {
  background-color: rgba(0, 0, 0, 0.2);
}

.personalised-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Overpass", sans-serif;

  width: 100%;
  margin-top: 200px;
}
